<div class="container container-box shadow-sm">
  <div class="row head-section shadow-sm">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 head-content">
      <div class="row mt-1">
        <div class="mobile-view">
          <!-- <img src="{{fileUrl}}{{sellerDetails.primary_image}}" height="50rem" /> -->
          <i class="fa fa-building-o" aria-hidden="true"></i>

          <span>{{ sellerDetails.company_name }}</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="mobile-view">
          <i class="fa fa-map-marker p-1" aria-hidden="true"></i>
          <span>{{ sellerDetails.address1 }}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 head-content">
      <div class="row mt-1">
        <div class="text-center pb-2 mobile-view">
          <span>{{ sellerDetails.gst }}</span>
        </div>
        <div class="row mobile-view mt-1">
          <div class="p-0 text-center">
            <i class="fa fa-user p-1" style="font-size: 20px" aria-hidden="true"></i>
            <span>{{ sellerDetails.first_name }}
              {{ sellerDetails.last_name }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 head-content">
      <div class="d-flex seller-lbl">
        <img src="../../../assets/icons/Premium Seller Icon.png" style="height: max-content" alt="" />
        <img src="../../../assets/icons/Trusted Seller icon.png" style="height: fit-content" alt="" />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 text-center view-number">
      <button class="btn btn-primary global-btn" style="padding: 10px 60px" *ngIf="!showContact" (click)="showNumber()">
        view Number
      </button>
      <button class="btn btn-primary global-btn" *ngIf="showContact" style="padding: 10px 60px">
        {{ sellerDetails.phone1 }}
      </button>
    </div>
  </div>

  <!-- ************ Middle Section *************** -->
  <section class="">
    <div class="container p-0">
      <div class="row gx-5">
        <aside class="col-lg-4 col-sm-12 py-5">
          <div class="border rounded-4 mb-3">
            <img class="rounded-4 fit product-img" id="main-img"
              src="{{ fileUrl }}{{ productDetails.primary_image }}" />
          </div>
          <div class="row g-0">
            <div class="col">
              <img width="70" height="70" class="rounded-2 similar-img"
                src="assets/imgs/product-imgs/product_image1.png" (click)="myFunction($event.target)" />
            </div>
            <div class="col">
              <img width="70" height="70" class="rounded-2 similar-img"
                src="assets/imgs/product-imgs/product_image2.png" (click)="myFunction($event.target)" />
            </div>
            <div class="col">
              <img width="70" height="70" class="rounded-2 similar-img"
                src="assets/imgs/product-imgs/product_image1.png" (click)="myFunction($event.target)" />
            </div>
            <div class="col">
              <img width="70" height="70" class="rounded-2 similar-img"
                src="assets/imgs/product-imgs/product_image2.png" (click)="myFunction($event.target)" />
            </div>
            <div class="col">
              <img width="70" height="70" class="rounded-2 similar-img"
                src="assets/imgs/product-imgs/product_image1.png" (click)="myFunction($event.target)" />
            </div>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6 col-md-5 col-sm-5 py-5">
          <div class="ps-lg-3">
            <h4 class="title text-dark product-heading">
              {{ productDetails.name }}
            </h4>
            <div class="d-flex flex-row my-3 review-section">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1"> 4.5 </span>
              </div>
              <span class="text-muted" style="color: #b51718 !important; text-decoration: underline"><i
                  class="fas fa-shopping-basket fa-sm mx-1"></i>get Latest
                price</span>
              <!-- <span class="text-success ms-2">In stock</span> -->
            </div>

            <div class="mb-3 product-price">
              <span class="h5">{{ productDetails.price }}</span>
              <span class="text-muted">/per piece</span>
            </div>

            <div class="row detail-section mb-3" [innerHTML]="productDetails.specification">
            </div>

            <p>
              {{ productDetails.description }}
            </p>
            <div class="row align-items-end">
              <div class="col-lg-12 text-end enquiry-btn-placeholder">
                <button class="btn btn-primary enquiry-btn" (click)="openEnquiryModal(productDetails)">
                  Send Enquiry
                </button>
              </div>
            </div>
          </div>
        </main>
        <aside class="col-lg-2 related-picture shadow-sm mt-1">
          <div class="row text-center">
            <h6>RELATED PRODUCTS</h6>
            <hr />
          </div>
          <!-- <div class="row text-center" style="justify-content: center; padding: 2px 0px"
            *ngFor="let product of sellerProducts">
            <img src="{{fileUrl}}{{product.primary_image}}" alt="..." class="img-thumbnail" />
            <span class="align-items-center">{{product.name}}</span>
          </div> -->
          <div class="card" style="width: auto; align-items: center; margin-bottom: 15px"
            *ngFor="let product of sellerProducts">
            <img src="{{ fileUrl }}{{ product.primary_image }}" (click)="productDetail(product.id)" class="card-img-top"
              alt="..." />
            <div class="card-body">
              <p class="card-text text-center" style="cursor: pointer" (click)="productDetail(product.id)">
                {{ product.name }}
              </p>
              <button (click)="openEnquiryModal(product)" type="button" class="btn btn-danger related-product-btn">
                Get a Quote
              </button>
            </div>
          </div>
        </aside>
      </div>
    </div>
    <div class="container row">
      <div class="col-lg-12">
        <hr />
        <h3>About company</h3>
        <p>
          Roljack is the production Of goods or services here within an economy
          indicator Of its relevant, Roljack is a world leader in the field Of
          Crushing — Screening solution, Stone Engineering Solution,
          Construction Solution, Fabrication industries, etc. With our unique
          knowledge and innovative solutions, we help our customers improve
          their operational efficiency, reduce risks and increase profitability.
        </p>
      </div>
    </div>
  </section>
</div>


<!-- carousel.component.html -->
<div class="container similar-products-sec" style="">
  <p style="padding: 15px 20px;font-size: 30px;">Similar Products</p>
  <div class="owl-carousel row">
    <div class="item col-lg-2" *ngFor="let similarProduct of similarProducts">
      <div class="card text-center" style="width: 15rem; height: auto;">
        <img src="{{ fileUrl }}{{ similarProduct.primary_image }}" class="card-img-top" height="200" width="100"
          (click)="productDetail(similarProduct.id)" alt="..." />
        <div class="card-body">
          <p class="card-text" style="cursor: pointer" (click)="productDetail(similarProduct.id)">
            {{ similarProduct.name }}
          </p>
          <button (click)="openEnquiryModal(similarProduct)" type="button" class="btn btn-danger related-product-btn">
            Get a Quote
          </button>
        </div>
      </div>
    </div>
  </div>
</div>