.container-box {
    background-color: #eeeeee;
    width: auto;
    border-radius: 0px 0px 16px 16px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0px;
    position: relative;
}

.head-section {
    background-color: #fff;
    padding: 15px;
    align-items: end;
}

.head-content {
    align-items: center;
    float: left;
    padding: 0px;
}

.global-btn {
    background-color: #b51718;
    padding: auto;
    font-size: smaller;
}

.global-btn:hover {
    background-color: #212121;
}

.seller-lbl {
    justify-content: center;
    margin-bottom: 10px;
}

.img-thumbnail {
    min-width: 35%;
    max-width: 35%;
    padding: 0;
}

.detail-section {
    background-color: #fff;
    border: 2px solid red;
    border-radius: 7px;
    padding: 10px;
    width: auto;
}

.enquiry-btn {
    background-color: #b51718;
    padding: 15px 30px;
    font-size: larger;
}

.view-number {
    margin: 0 auto;
    padding: 10px 20px;
}

.enquiry-btn:hover {
    background-color: #212121;
}

.related-picture {
    background-color: #fff;
    margin: 0px;
    padding: 20px;
    /* border-radius: 15px; */
    /* padding: 10px; */
    /* position: absolute; */
    /* margin: -155px 74%; */
    /* margin-top: 0px !important; */
}

.related-picture img {
    height: 50%;
    max-width: 63%;
    padding: 0;
}

.icon {
    display: table;
}

.icon a {
    vertical-align: middle;
    display: table-cell;
    font-size: 3rem;
    color: #b51718;
}

.icon img {
    display: block;
    height: auto;
    width: 100%;
}

.similar-img {
    opacity: 75%;
    cursor: pointer;
}

.similar-img:hover {
    opacity: 100%;
}

.product-img {
    width: 20vw;
    height: 50vh;
}

.product-heading {
    font-size: xx-large;
    color: #b51718 !important;
}

.view-detail {
    color: #b51718 !important;
    text-decoration: underline;
}

.similar-product-heading {
    margin-left: 145px;
    font-size: 28px;
    margin-bottom: 18px;
}

.similar-products-sec {
    padding: 50px 0px;
}

@media screen and (max-width: 480px) {
    .related-picture {
        display: none !important;
    }

    .product-img {
        width: 80vw;
    }

    .mobile-view {
        text-align: center;
        padding: 16px;
        border: 0.5px solid black;
    }

    .product-heading {
        font-size: x-large;
        /* color: #b51718 !important; */
        text-align: center;
        margin-top: 30px;

    }

    .review-section {
        justify-content: center;
    }

    .product-price {
        text-align: center;
    }

    .view-detail {
        color: #b51718 !important;
        text-decoration: underline;
        text-align: center !important;
    }

    .enquiry-btn-placeholder {
        text-align: center !important;
        margin-top: 10px;
    }
}