<div class="container header-margin">
  <div class="heading">
    <h1>Product And Service Directory</h1>
  </div>
  <section
    class="categories mt-2 section-margin"
    style="margin-top: 80px !important"
  >
    <div class="container p-0 pharma-bg">
      <div class="row">
        <div class="col-lg-9 p-4">
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/purse.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Men's Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/sunglasses.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Sunglasses</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/purse.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Purse</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/shoes.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Shoes</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/kurti.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Kurti</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/winter.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Winter Wear</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/sports.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Sports Wear</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/blazer.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Blazers</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/tshirt.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">T-shirt</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 position-relative p-0">
          <div class="category-img text-center">
            <!-- <img
                  src="../../assets/imgs/category-images/clothing & garment.png"
                  alt=""
                  srcset=""
                /> -->
          </div>
          <div
            class="position-absolute top-50 start-50 translate-middle text-center category-content"
          >
            <h1 class="fs-3">Drugs and Pharmaceuticals</h1>
            <button>View All</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="categories mt-2 section-margin"
    style="margin-top: 80px !important"
  >
    <div class="container p-0 clothing-bg">
      <div class="row">
        <div class="col-lg-9 p-4">
          <div class="row mb-3" *ngFor="let category of categories">
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="{{ fileUrl }}{{ category.icon }}"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Common disease medicine </a>
                    </ul>
                    <ul>
                      <a href="">Pharmaceutical Medicines</a>
                    </ul>
                    <ul>
                      <a href="">Pharmaceutical Drugs</a>
                    </ul>
                    <ul>
                      <a href="">Cough Syrup</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/sunglasses.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5"
                        >Ayurvedic, Herbal Products & Medicine</a
                      >
                    </ul>
                    <ul>
                      <a href="">Ayurvedic Medicine</a>
                    </ul>
                    <ul>
                      <a href="">Herbal Ayurvedic Medicine</a>
                    </ul>
                    <ul>
                      <a href="">Honey</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/purse.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">
                        Nutraceuticals & Dietary Supplements</a
                      >
                    </ul>
                    <ul>
                      <a href="">Protein Powder</a>
                    </ul>
                    <ul>
                      <a href="">Protein Supplement</a>
                    </ul>
                    <ul>
                      <a href="">Weight Gain Nutrition</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/shoes.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Shoes</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/kurti.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Kurti</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/winter.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Winter Wear</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/sports.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Sports Wear</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/blazer.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">Blazers</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row category-box">
                <div class="col-lg-4 p-0">
                  <img
                    src="../../assets/imgs/category-images/tshirt.png"
                    class="img-thumbnail"
                    alt="..."
                  />
                </div>
                <div class="col-lg-8">
                  <li style="font-size: small">
                    <ul>
                      <a href="" class="fs-5">T-shirt</a>
                    </ul>
                    <ul>
                      <a href="">Formal Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Chex Shirt</a>
                    </ul>
                    <ul>
                      <a href="">Printed Shirt</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 position-relative p-0">
          <div class="category-img text-center">
            <!-- <img
                  src="../../assets/imgs/category-images/clothing & garment.png"
                  alt=""
                  srcset=""
                /> -->
          </div>
          <div
            class="position-absolute top-50 start-50 translate-middle text-center category-content"
          >
            <h1 class="fs-3">Clothing and Apperal</h1>
            <button>View All</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
