.dynamic-bg {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    /* filter: brightness(50%); */
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 50%;
    z-index: -1 !important;
}

.category-box {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    cursor: pointer;
}

.category-img {
    /* background-image: url("../../assets/imgs/category-images/clothing\ &\ garment.png"); */
    object-fit: cover;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.category-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;

    h1 {
        color: #fff;

    }

    button {
        border: none;
        padding: 10px;
        width: 150px;
        border-radius: 10px;

    }

    button:hover {
        border: none;
        border-radius: 10px;
        color: #fff;
        background-color: var(--button-color);
    }
}



.category-img:hover {
    filter: brightness(50%);
}

.section-margin {
    margin-bottom: 50px !important;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a:hover {
    color: #f84215;
}

.category-img {
    padding: 0px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.subcategory {
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.subcategory-heading {
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}

.container-section {
    min-height: 374px;

}

.mb-3 {
    margin-bottom: 30px;
}