<div class="container header-margin">
  <!-- <div class="heading">
    <h1>Product And Service Directory</h1>
  </div> -->
  <br />
  <section class="categories mt-2 section-margin" *ngFor="let category of categories">
    <div class="container p-0 dynamic-bg z-0" [style.background]="'url(' + fileUrl + category.image + ')'">
      <div class="overlay"></div>
      <div class="row container-section z-2">
        <div class="col-lg-9 p-4">
          <div class="row mb-3">
            <div class="col-lg-4" *ngFor="let menu of category.subcategories">
              <div class="row category-box">
                <div class="col-lg-4 p-0" (click)="redirectSubCategory(menu.id)">
                  <img src="{{ fileUrl }}{{ menu.icon }}" class="category-img" alt="..." />
                </div>
                <div class="col-lg-8">
                  <li class="subcategory">
                    <ul class="mb-1">
                      <a class="subcategory-heading">
                        {{ menu.name }}
                      </a>
                    </ul>
                    <ul *ngFor="let submenu of menu.Subsubcategories">
                      <a (click)="searchByKey(submenu.id)">{{
                        submenu.name
                        }}</a>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 p-0">
          <div class="category-content">
            <div class="category-item">
              <h1 class="fs-3 mb-3">{{ category.name }}</h1>
              <button (click)="redirectSubCategory(category.id)">View All</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>