<div class="container-fluid">

  <div class="row reverse-order">
    <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-2 col-xl-2">
      <div class="mb-4 ">
        <ul class="list-group related-category-ul">
          <li class="list-group-item list-group-title">
            <h5 class="list-title">Related Categories</h5>
          </li>
          <li class="list-group-item list-group-list" *ngFor="let category of relatedCategory">
            <a href="#">
              {{category.name }}
            </a>
          </li>
        </ul>
      </div>

      <div class="related-product-container">
        <div class="">
          <h5 class="list-title">Related Products</h5>
          <div class="">
            <div class="card related-product-card" *ngFor="let product of relatedProducts">
              <div class="row">
                <div class="col-5 p-0">
                  <img src="{{ fileUrl }}{{ product.primary_image }}" class="img-fluid" alt="">
                </div>
                <div class="col-7">
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ product.name }}</h5>
                    <p class="card-text card-text-price">
                      INR.10,00,000/-
                    </p>
                    <p class="card-text card-text-brand">
                      Roljack Asia Limited
                    </p>
                    <a class="btn btn-danger" (click)="openEnquiryModal(product)">Get Enquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-xs-12  col-lg-8 col-xl-8 col-md-12 dd">
      <div class="card text-center" *ngIf="products.length == 0" style="width: auto;">
        <div class="card-body">
          <img src="../../../assets/imgs/no_record_found.png" alt="..." style="height: 200px; width: 300px" />
          <br />
          <h1>No Record Found</h1>
          <br />
          <p>Please Search Again..</p>
        </div>
      </div>
      <div>
        <div class="card mb-3 product-card" *ngFor="let product of products; let i=index">

          <div class="card-header">
            <div class="row">
              <div class="col">
                <div class="d-flex">
                  <div class="">
                    <img src="assets/icons/Premium Seller Icon.png" class="img-fluid" alt="...">
                  </div>
                  <div class="">
                    <img src="../../../assets/icons/Trusted Seller icon.png" class="img-fluid" alt="...">
                  </div>
                </div>
              </div>
              <div class="col card-header-icon">
                <div class="d-flex">
                  <a href="" class="">
                    <i class="fa fa-file-pdf-o"></i>
                  </a>
                  <a href="" class="">
                    <i class="fa fa-youtube-play"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row g-0 product-card-body">
            <div class="col-8 product-card-body-div">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-8 ">
                    <p class="desc">
                      <small>
                        Hot Sale High Productivity And High Capacity Jaw Crusher
                      </small>
                    </p>
                    <h3 class="card-title">{{product.name}}</h3>
                    <p class="card-text inner-text" [innerHTML]="product.specification"></p>
                    <p class="card-text">
                      <small class="text-body-secondary">
                        <a href="">Read more...</a>
                      </small>
                    </p>
                  </div>
                  <div class="col-12 col-md-8 product-card-btn">
                    <div class="mb-2">
                      <a class="btn" (click)="openEnquiryModal(product)">
                        Send
                        Inquiry
                      </a>
                    </div>
                    <div class="">
                      <a *ngIf="!product.showContact" class="btn" (click)="showContactDetail(product, i)">
                        View
                        Number
                      </a>
                      <a *ngIf="product.showContact && product.seller" class="btn">
                        {{product.seller.phone1}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-4 product-card-img">
              <!-- <img src="{{ fileUrl }}{{ product.primary_image }}" class="img-fluid" alt="..."> -->

              <!-- product image carousel -->
              <div id="carouselExampleAutoplaying{{i}}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="http://192.168.0.154:3000/uploads/product/file-1706527123585.png" class="d-block w-100"
                      alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="http://192.168.0.154:3000/uploads/product/file-1706527518806.png" class="d-block w-100"
                      alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="http://192.168.0.154:3000/uploads/product/file-1706527692036.avif" class="d-block w-100"
                      alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button"
                  [attr.data-bs-target]="'#carouselExampleAutoplaying' + i" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                  [attr.data-bs-target]="'#carouselExampleAutoplaying'+i" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!--  -->

              <span class="product-brand-name" *ngIf="product.seller">
                {{product.seller.company_name}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-2 col-sm-12 col-xs-12 col-md-12 col-lg-8 col-xl-8"></div>

  </div>
</div>