<app-main-header class="main-header"></app-main-header>
<!-- <app-header
  *ngIf="router.url !== '/home'"
></app-header> -->

<router-outlet></router-outlet>


<div class="alert alert-success alert-box" id="success-alert">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Success! </strong> <span id="spanalert">Product have added to your wishlist.</span>
</div>

<div class="alert alert-danger alert-box" id="error-alert">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Error! </strong> <span id="spanalert">Product have added to your wishlist.</span>
</div>

<app-footer> </app-footer>
