<section class="pt-8 pt-md-9 header-margin">
  <div class="container">
    <h2 class="text-dark fw-normal">Explore By Category</h2>

    <!-- Form -->
    <form class="mt-4">
      <div class="input-group input-group-lg shadow-sm">
        <span class="input-group-text border-0">
          <i class="fas fa-search fa-xs text-secondary mb-1"></i>
        </span>

        <input
          type="text"
          class="form-control bg-white border-0 px-1"
          placeholder="Search for category...."
        />

        <span class="input-group-text border-0 py-1 pe-2">
          <button type="submit" class="btn btn-primary text-uppercase-bold-sm">
            Search
          </button>
        </span>
      </div>
    </form>

    <!-- Categories -->
    <div class="row mt-6">
      0
      <div class="col-12 mb-4">
        <span
          class="badge bg-pastel-primary text-primary text-uppercase-bold-sm"
        >
          All categories
        </span>
      </div>

      <!-- Category -->
      <div class="col-md-3 mb-4" *ngFor="let category of categories">
        <a
          href="#"
          class="card align-items-center text-decoration-none hover-lift-light py-4"
        >
          <img src="{{ fileUrl }}{{ category.icon }}" alt="" />
          <span class="text-dark mt-3"> {{ category.name }}</span></a
        >
      </div>
    </div>
  </div>
</section>
