<section class="container-fluid">

  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="#">{{categoryData.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{subCategoryData.name}}</li>
    </ol>
  </nav>

  <div class="main-div">
    <div class="container-fluid header-container">
      <img src="{{ fileUrl }}{{ subCategoryData.image }}" class="img-fluid sub-category-image" alt="...">
      <div class="sub-category-background">
        <div class="sub-category-name">
          {{subCategoryData.name}}
        </div>
      </div>
    </div>

    <div class="container-fluid card-container">
      <div class="row">
        <div class="col-2" *ngFor="let data of subSubCategoryData">
          <div class="sub-sub-category-card" (click)="redirectProductDetail(data.id)">
            <img src="{{ fileUrl }}{{ data.image }}" class="img-fluid sub-sub-category-image" alt="...">
            <h6 class="sub-sub-category-name">{{data.name}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>