/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Poppins", sans-serif;
}

.btn-th-default {
  width: auto;
  padding: 12px 16px;
  background: #9d9d9d;
  color: #fff;
}

.btn-rounded {
  border-radius: 30px;
}

.black-Theme-background {
  background: #2b2b2b;
}

:root {
  --main-font-color: #d2042d;
  --heading-font: 18px;
  --product-title: 14px;
  --paragraph-font: 12px;
  --button-color: #ca2c2c;
}

.row {
  margin: 0;
}

.modal-backdrop.show {
  z-index: 0;
}

.text-bold {
  font-weight: bold;
}

.alert-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.header-margin {
  margin-top: 80px;
}

.global-container {
  margin: 40px 120px;
}

@media screen and (min-width: 1000px) {
  .custom-container {
    max-width: 85%;
    padding: 0;
  }
}