.banner-container {
  position: relative;
  margin-top: 55px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent), url("../../../assets/imgs/header-bg.jpg") ;
  height: 480px;
  width: 100%;
  /* background-size: contain !important;
  background-position: center !important;
  background-repeat: repeat !important; */
  -webkit-animation: slide 30s linear infinite;
  animation:  slide 30s linear infinite;


  /* background: gray url(https://image.ibb.co/ky3Y0S/teee.png) repeat 0 0; */

  margin: 0;
  text-align: center;
  /* height: 550px;
  padding-top: 120px; */
  box-sizing: border-box;
  -webkit-animation: slide 30s linear infinite;
}

.banner-img {
  width: 100%;
}

.center-search-box {
  /* position: absolute; */
  /* top: 97%; */
  /* left: 50%; */
  /* transform: translate(-93%, -200%); */
  padding: 0px;
  width: 40%;
  border-radius: 50px !important;
  border: 2px solid red !important;
  position: relative;
  margin: 0 auto;
  /* text-align: center; */
}

.search-input {
  background-color: inherit;
  font-size: 17px;
  border-radius: 30px;
  border: none;
  padding-left: 25px;
  color: #fff;

  
}

.search-input::placeholder {
  color: #fff;
}

.search-btn {
  font-size: 15px;
  border-radius: 30px;
  padding: 15px;
}

.form-control:focus {
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  .banner-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .center-search-box {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-input {
    font-size: 16px;
    padding: 0 10px 0px 0px;
  }

  .search-btn {
    font-size: 16px;
  }

  .app-promo {
    align-items: center;
  }
}


.head-content {
  padding: 271px 0px 0px 70px;
  text-align: center;

  h1 {
    font-size: 50px;
    /* width: 60%; */
    font-weight: 600;
    color: #fff;
  }

  p {
    font-size: x-large;
    color: #fff;
  }
}

@-webkit-keyframes slide {
  from { background-position-x: 0; }
  to { background-position-x: -512px; }
}

@keyframes slide {
  from { background-position-x: 0; }
  to { background-position-x: -512px; }
}
