.banner-container {
  position: relative;
  width: 100%;
  height: 450px;
  color: white;
  text-align: center;
  animation: slide 30s linear infinite;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent), url("../../../assets/imgs/header-bg.jpg");
}

.container-centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 100%;
}

.banner-header h1 {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
}

.banner-header p {
  font-size: x-large;
  color: #ffffff;
}

.banner-search-bar {
  width: 40%;
  line-height: 40px;
}

.search-input {
  border-radius: 50px 0 0 50px;
  padding-left: 20px;
}

.search-button-div {
  border-radius: 0 50px 50px 0;
  background-color: #ffffff;
}

.search-button {
  border-radius: 50px;
  padding: 12px 15px;
}

@-webkit-keyframes slide {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -512px;
  }
}

@keyframes slide {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -512px;
  }
}

/* bootstrap css */
.form-control:focus {
  box-shadow: none;
}

.form-control {
  border: 1px;
}



@media screen and (max-width: 990px) {
  .container-centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
  }

  .banner-header h1 {
    font-size: 35px;
  }

  .banner-header p {
    font-size: large
  }

  .banner-search-bar {
    width: 100%;
  }
}