<div class="banner-container">
  <div class="container-centered">
    <div class="banner-header">
      <h1>Largest <span>B2B</span> Business Platform In The World</h1>
      <p>You can buy, sell anything you want</p>
    </div>
    <div class="input-group m-auto banner-search-bar">
      <input type="text" class="form-control search-input" placeholder="Search product or service" aria-label="Recipient's username"
        aria-describedby="button-addon2">
      <div class="search-button-div">
        <button class="btn btn-danger btn-outline-light search-button" type="button" id="button-addon2">
          <span class="me-2">Search</span>
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>