<div class="row main-div ">
  <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-4 col-xl-4">
    <a href="index.html">
      <img class="img-fluid logo-img" src="assets/imgs/logo-white.png" />
    </a>
  </div>
  <div class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-4 col-xl-4">
    <div class="input-form" *ngIf="currentPage != '/home'">
      <input type="text" placeholder="Search for any product.." [(ngModel)]="keyword" (keyup.enter)="onEnterClick()" />
      <button type="button" class="btn btn-danger input-form-button" (click)="searchByKey()"
        [disabled]="keyword.length <= 2">
        <!-- <img src="../../assets/imgs/search.png" height="20px" /> -->
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="col-3 right-col col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">

    <a *ngIf="!userData" class="auth-a" data-bs-toggle="modal"
      data-bs-target="#loginModal">
      <span>Login | Signup</span>
      <i class="fa fa-user" aria-hidden="true"></i>
    </a>

    <div *ngIf="userData">
      <div class="row user-dropdown-div">
        <div class="col" style="padding: 0;">
          <span class="user-name">Hi, {{userData.first_name}}</span>
        </div>
        <div class="col user-dropdown-col" style="    text-align: left;">
          <div class="dropdown">
            <a class="loggedin" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu user-dropdown">
              <li><a class="dropdown-item" (click)="userProfileLink()">Profile</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="userLogOut()">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-fullscreen-xl">
    <div class="modal-content">
      <div class="modal-body login-container">
        <div class="card">
          <div class="text-center p-2">
            <img src="../../../assets/imgs/Login Icon.png" alt="" />
          </div>
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title fs-1">Login</h5>
              <hr />
            </div>
            <!-- <form (ngSubmit)="onSubmit(loginForm.value)" 
              #loginForm="ngForm"> -->
            <div class="form-group pb-3" *ngIf="!isOtpSent">
              <label for="mobileNumber">Mobile Number</label> <br />
              <input type="tel" class="form-control" placeholder="Enter mobile number" name="phone"
                [(ngModel)]="mobileNumber" maxlength="10" required />
              <br />
              <div class="text-end">
                <a href="#" class="link">Change Mobile Number</a>
              </div>
              <br />
              <div class="text-center">
                <button type="submit" class="btn btn-primary" (click)="sendOtp()"
                  [disabled]="mobileNumber.length != 10">
                  Send OTP
                </button>
              </div>
            </div>
            <div class="form-group pb-3" *ngIf="isOtpSent">
              <label for="otp">OTP</label>
              <input [(ngModel)]="enteredOtp" type="text" class="form-control" placeholder="Enter the OTP" name="otp"
                required />
              <div class="text-end">
                <a href="#">Resend OTP</a>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" (click)="verifyOtp()">
                  Login
                </button>
              </div>
            </div>
            <!-- <div class="text-center">
              <button type="submit" class="btn btn-primary">Login</button>
            </div> -->
            <!-- </form> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>