.fixed {
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 0px;
  z-index: 9;
}

.nofixed {
  position: static;
  transition: 0.2s linear;
  top: -50px;
}

input:focus-visible {
  outline: none;
}

.main-logo {
  max-height: 60px;
}

.navbar-ul {
  align-items: center;
  margin-bottom: 0.5rem;
}

.navbar-ul li a {
  color: white;
  font-size: 15px;
}

.search-bar-div {
  width: 50%;
  align-items: center;
  margin-bottom: 0;
}

.search-bar-div .search-input-div {
  width: 50%;
}

.search-bar-div .search-input-div .search-input {
  border: 2px solid;
  border-color: white;
  border-radius: 25px 0 0 25px;
  width: 100%;
  line-height: 38px; 
  padding: 1px 1px 1px 20px;
  font-size: 15px;
}

.search-button-div {
  background-color: white;
  border-radius: 0 25px 25px 0;
}

.search-button-div .search-button {
  background-color: rgba(0, 0, 0, 0.8);
  border: 5px solid;
  border-color: white;
  border-radius: 50%;
  width: 46px;
  line-height: 32px;
}

.search-button-div .search-button i {
  color: white;
}

.sign-in-div {
  margin-bottom: 0.5rem;
}

.sign-in-div .auth-a {
  color: #ffffff;
  align-items: end;
  cursor: pointer;
  text-decoration: none;
}

.sign-in-div .auth-a i {
  margin-left: 10px;
  font-size: 20px
}

.sign-in-div .auth-a span {
  font-size: 15px;
}

.sign-in-div .auth-a span i {
  vertical-align: middle;
}

.sign-in-div .user-dropdown-div {
  align-items: center;
}

.sign-in-div .user-dropdown-div .user-name {
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
}

.sign-in-div .user-dropdown-div .user-dropdown-col {
  text-align: left;
  max-width: 95px;
}

.sign-in-div .user-dropdown-div .user-dropdown-col .dropdown .loggedin {
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.user-dropdown li a {
  cursor: pointer;
}

.bottom-nav .bottom-nav-ul {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.bottom-nav .bottom-nav-ul li a {
  color: white;
  font-size: 15px;
}

.login-container {
  width: 500px;
  margin: auto;
}

@media screen and (max-width: 990px) {
  .navbar-ul {
    align-items: start;
    margin-bottom: 0.5rem;
  }
  
  .search-bar-div {
    width: 100%;
    margin-bottom: 1rem;
  }

  .search-bar-div .search-input-div {
    width: 100%;
  }

  .search-bar-div .search-input-div .search-input {
    border-radius: 5px 0 0 5px;
  }

  .search-button-div {
  border-radius: 0 5px 5px 0;
  }

  .search-button-div .search-button {
    border-radius: 10px;
  }

  .sign-in-div {
    margin-bottom: 1rem;
  }

  .bottom-nav .bottom-nav-ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}


/* Form */

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  .search-bar-div {
    width: 30%;
  }

  .search-bar-div .search-input-div {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .search-bar-div {
    width: 45%;
  }

  .search-bar-div .search-input-div {
    width: 60%;
  }
}